body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
/*--------HEADER-------*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-container {
    display: flex;
    align-items: center;
    height: 56px;
}

.header-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    /* margin-left: 16px;
    margin-right: 189px;
    margin-top: 16px;
    margin-bottom: 16px; */
}

.logo-header-span {
    color: var(--IRIS, #2e2f42);
}

.header-menu-item {
    display: none;
}

.header-contacts {
    display: none;
}
.open-menu-btn {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    border: none;
}

/** Mobile menu **/  

.menu-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    padding: 72px 0px;
    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.is-opened {
    transform: translateX(0%);
}

.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-current {
    color: #404BBF;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    justify-content: space-between;
}

.menu-header-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-header-item {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.menu-header-link:active,
.menu-header-link:focus {
    color: #404BBF;
}

.menu-address {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}

.menu-address-list {
    flex-direction: column;
    display: flex;
    gap: 40px;
}

.menu-address-link {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-address-link:active,
.menu-address-link:focus {
    color: #404BBF;
}

.menu-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu-social-items {
    width: 40px;
    height: 40px;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Mobile menu end */
/*-----------------*/

/*-----SECTION 1-----*/
.hero {
    background-color: var(--NAVY-BLUE, #2E2F42);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 52px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mob.jpg);
    max-width: 1440px;
    margin: 0 auto;

}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    line-height: 1.11111;
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 200px;
}

.hero-button-service {
    color: var(--WHITE, #FFF);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--IRIS, #4D5AE5);
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    min-width: 169px;
    margin: 0 auto;
    display: block;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-service:hover,
.hero-button-service:focus {
    background-color: #404BBF;
}

/*--------------------*/

/*-----SECTION 2-----*/

.facilities-block {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.card-icon {
    display: none;
}

.facilities-list {
    flex-direction: column;
}

.facilities-list-items {
    margin-bottom: 72px;
}

.facilities-list-items:last-child {
    margin-bottom: 0px;
}

.facilities-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
    text-align: center;
}

.facilities-paragraph {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 72px;
}

/*--------------------*/

/*-----SECTION 3-----*/
.hero-team-list {
    background: var(--CLOUD, #F4F4FD);
    padding: 96px 0px;
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-img {
    display: block;
    width: 100%;
}

.team-list-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    margin: 0 auto;
    margin-bottom: 72px; 
    width: 264px;  
}

.team-list-item:last-child {
    margin-bottom: 0;
}

.team-members {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding: 32px 0;
}

.team-members-names {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-members-jobs {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-member-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:focus {
    background-color: #404bbf;
}

.icons-link:hover {
    background-color: #404bbf;
}

.icon-items {
    fill: #f4f4fd;
}

.members-list-icon {
    width: 40px;
    height: 40px;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------*/

/*-----SECTION 4-----*/
.portfolio {
    padding: 96px 0px;
}

.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    gap: 48px;
}

.portfolio-list-items {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
    margin-bottom: 48px;
}

.portfolio-list-items:last-child {
    margin-bottom: 0;
}

.portfolio-list-items:hover {
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-items-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.sellers-cover-text {
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.sellers-text-wrap {
    position: absolute;
    top: 0;
    background: var(--IRIS, #4D5AE5);
    display: flex;
    align-items: center;
}

.sellers-cover-wrap {
    position: relative;
    overflow: hidden;
}

.sellers-cover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--F4F4FD, #f4f4fd);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.cards-content {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title-group {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-img {
    display: block;
    margin: 0 auto;
}

.cards-content {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.portfolio-list-items:hover .sellers-cover-text {
    transform: translateY(0);
    z-index: 2;
}

/*--------------------*/

/*-----FOOTER-----*/

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.content-wrapper {
    text-align: center;
}

.footer-logo {
    text-align: center;
    color: var(--CLOUD, #4d5ae5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}


.logo-footer-span {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-paragraph {
    color: var(--CLOUD, #F4F4FD);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 288px;
    text-align: left;
}

.footer-style {
    background: var(--NAVY-BLUE, #2E2F42);
    padding: 96px 0;
}

.social-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--WHITE, #FFF);
    margin-bottom: 16px;
    text-align: center;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.footer-list-icon {
    width: 40px;
    height: 40px;
}

.social-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.social-link {
    width: 100%;
    height: 100%;
    background-color: var(--CLOUD, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

.social-icon {
    fill: var(--WHITE, #f4f4fd);
    gap: 16px;
}

.submit-email-input {
    text-align: center;
}

.social-paragraph {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
}

.footer-email {
    text-align: center;
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-label {
    margin-bottom: 16px;
}


.footer-input {
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.email-btn {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    border: none;
    gap: 24px;
    width: 165px;
    cursor: pointer;
    margin: 0 auto;
}

.email-btn:hover {
    background-color: #404BBF;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-icon-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------*/
/*----modal window-----*/
.backdrop {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 288px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 16px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--CORNFLOWER, #E7E9FC);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
    }

.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-icon-style {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .close-icon-style {
        fill: #ffffff;
}

.modal-close-btn:focus .close-icon-style {
    fill: #ffffff;
}


.modal-title {
    width: 256px;
    height: 24px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 34px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
    position: relative;
}

.modal-input:hover {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4D5AE5;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-input:focus{
    fill: #4D5AE5;

}

.submit-btn {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 98px;
    margin-right: 98px;
}

.submit-btn:hover {
    background-color: #404BBF;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
    display: block;
    width: 34px;
    height: 14px;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:focus {
    fill: #4D5AE5;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    margin-bottom: 16px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-field {
    margin-bottom: 8px;
}


.check-text {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.modal-checkbox {
    margin-bottom: 24px;
}


.policy-link {
    color: var(--IRIS, #4D5AE5);
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.span-privacy-icn {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .span-privacy-icn:hover {
    
} */

.check-input:checked+.check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.check-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*--------------------*/



/**----АДАПТИВ планшет------*/
@media screen and (min-width: 768px) {

    
    .container {
        max-width: 768px;
    }
/*-------------header планшет----------*/
.header-container {
    height: 72px;
}

.header-logo {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
}

.header-menu-item {
    display: flex;
    gap: 40px;
}

.open-menu-btn {
    display: none;
}

.header-contacts {
    display: block;
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-item li:first-child a::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #404bbf;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
}

.header-menu-link:active {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-menu-item li:first-child a {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-item li:nth-child(2) a,
.header-contacts li a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-cont-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-contacts {
    color: var(--SLATE, #434455);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.02em;
    font-style: normal;
}

.header-contacts:hover,
.header-contacts:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address a:hover {
    color: #404BBF;
}

.address a:focus {
    color: #404bbf;
}

/* Menu */
.menu-header {
    display: none;
}
/*-----------------------------*/
/*-----------херо планшет---------*/
 @media screen and (min-device-pixel-ratio: 2),
 screen and (min-resolution: 192dpi),
 screen and (min-resolution: 2ddpx) {
    .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)),
             url(../images/hero-tablet.jpg);
     }
}

.hero {
    padding: 112px 0px;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07143;
    max-width: 496px;
}

.facilities-title {
    line-height: 1.2;
    font-weight: 700;
    font-size: 36px;
    text-align: left;
}

.facilities-paragraph {
    font-weight: 500;
}
/*-----------------------------*/

/*-----------facilities планшет--------*/


.facilities-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
}

.facilities-list-items {
    width: 356px;
    margin-bottom: 0;
}
/*-----------------------------*/
/*------3 section team планшет----------*/
.team-list {
    display: flex;
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;

}

.team-list-item {
    margin: 0;
    }



/*-----------------------------*/

/*------4 section portfolio планшет---*/
    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-list-items {
        width: 356px;
        margin: 0 auto;
        }


/*-----------------------------*/

/* footer планшет*/
.container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 530px;
}

    .content-wrapper {
        /* text-align: left; */
        width: 264px;
    }

.social-container {
    display: block;
    flex-direction: column;
}
    
    .footer-logo {
    display: flex;
    text-align: left;
    }

    .social-paragraph {
        text-align: left;
    }

.footer-email {
    display: block;
    text-align: left;
}

    .footer-form {
        flex-direction: row;
}
    .email-btn {
        height: 40px;
        margin-left: 24px;
    }
/*-----------------------------*/

/* modal планшет*/

.modal {
    width: 408px;
}

.modal-title {
    width: 360px;
    margin-bottom: 16px;
}
/*-----------------------------*/
}

/**----АДАПТИВ комп'ютер------*/
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
/*-------------header комп'ютер----------*/

.header-nav {
}

.header-contacts {
    font-size: 16px;
    line-height: 1.5;
}

.header-cont-list {
    flex-direction: row;
    gap: 40px;
    margin-right: 156px;
}

.header-menu-item {
}
/*-----------------------------*/
/*----------------херо комп'ютер---------*/

 @media screen and (min-device-pixel-ratio: 2),
 screen and (min-resolution: 192dpi),
 screen and (min-resolution: 2ddpx) {
     .hero {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)),
             url(../images/people-office1.jpg);
            padding: 188px 0px;
     }
}

.hero {
    padding: 188px 0px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office1.jpg);
} 
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}
/*-----------------------------*/

/*-----------facilities комп'ютер--------*/

.facilities-block {
    padding: 120px 0px;
}
.facilities-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.facilities-list-items {
    width: 264px;
    
}
.facilities-paragraph {
    font-weight: 400;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
    background-color: #f4f4fd;
}

.facilities-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.footer-paragraph {
    font-weight: 400;
}
/*-----------------------------*/

/*------3 section team комп'ютер----------*/
.team-list {
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 24px;
}

/*-----------------------------*/
/*------4 section portfolio комп'ютер-----*/
.portfolio-list {
    gap: 48px 24px;
}

.portfolio-list-items {
    margin: 0 auto;
    width: calc((100% - 48px) / 3);
/*-----------------------------*/
}

/** footer комп'ютер*/
.container-footer {
    /* display: flex;
    align-items: baseline; */
    flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-style {
    padding: 100px 0px;
}

.content-wrapper {
margin-right: 120px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-email {
    display: block;
    text-align: left;
}

.footer-input {
}

.email-btn {
    margin-left: 0;
}

.social-container {
    margin-right: 80px;
}
/*-----------------------------*/

/* modal */
/*-----------------------------*/

}
/*--------------------*/

